:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour */
  --fun-color-primary: #0234FC;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Tailwind Colour */
@theme {
  --color-primary: var(--fun-color-primary);
}

/* Global reset and base styles */ 
* {
  box-sizing: border-box;
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

#root {
  height: 100%;
}

@import "tailwindcss";
